@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --bg-fundo: #0079FF;
    --bg-menu: #060047;
    --fonte-principal: 'Montserrat', sans-serif
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: var(--bg-fundo);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-principal);
    overflow-x: hidden;
}

.menu{
    background-color: #FF8400;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding: 1em;
    background-color: var(--bg-menu);
    color: white;
    border-radius: 5px;
    z-index: 2;
}

.menu h1{
    text-align: center;
    font-size: 1.8em;
    font-weight: 800;
}

.menu h3{
    margin-top: .8em;
    font-size: 1.4em;
    font-weight: 400;
}

.lista-de-dificuldade input{
    display: none;
}

.menu .lista-de-dificuldade{
    display: flex;
    justify-content: space-around;
}

.btn-dificuldade{
    margin-top: .5em;
    background-color: red;
    font-size: 1em;
    padding: .5em 1em;
    font-weight: 600;
    cursor: pointer;
    transition: .6s;
}

.active{
    color: red;
    background-color: white;
    transform: scale(1.15);
}


.btn-start{
    font-size: 1.7em;
    padding: .3em .8em;
    align-self: center;
    margin-top: .8em;
    background-color: red;
    color: white;
}

@media screen and (min-width: 510px) {
    .menu{
        max-width: 400px;
    }
}